.app{
  text-align: center;
  padding-top: 12px;
 
  
}
.cards{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  

}
.dark{
  background-color: black;
  color: #fff;
}
.container-btn{
  border: 1px solid;

}
